<!DOCTYPE html>

<html lang="en">

<body>
<div>Our sensors</div>
{{#sensors}}
<div>
    <b>{{id}}</b>
    <span>{{temperature}}</span>
    <span>longitude: <i>{{longitude}}</i></span>
    <span>latitude: <i>{{latitude}}</i></span>
</div>
{{/sensors}}
</body>

</html>