<!DOCTYPE html>

<html lang="en">

<body>
<h1>Hello!</h1>
<div>use "/post" for add new sensor and "/get" to see all sensors</div>
<div>you can also get json with 10 last sensors from "/api/user"</div>
</body>

</html>