<!DOCTYPE html>

<html lang="en">

<body>
<div>
    <form method="POST">
        <input type="text" name="temp" placeholder="Enter the temperature" />
        <input type="text" name="longitude" placeholder="Enter the longitude" />
        <input type="text" name="latitude" placeholder="Enter the latitude" />
        <button type="submit">Add sensor</button>
    </form>
</div>
<div>{{msg}}</div>
</body>

</html>